<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="container">
      <div class="navbar-brand align-item-center d-flex" style="color: white;">
        <i routerLink="/product" style="font-size: 35px; cursor: pointer;" class="fas fa-shipping-fast">
          &nbsp;
        </i>
        <strong routerLink="/product" style="font-size: 25px; cursor: pointer">Flipkart</strong>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchKey" (keyup)="search($event)" placeholder="Search products">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <a routerLink="cart">
        <button class="btn btn-primary">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger" *ngIf="cartItemCount > 0">{{cartItemCount}}</div>
        </button>
      </a>
    </div>

  </div>
</header>